@tailwind base;
@tailwind components;
@tailwind utilities;

/* Voeg hier extra styles toe indien nodig */

/* Maak gebruik van utility-classes om responsiviteit te bereiken */
html, body {
  @apply h-full w-full m-0 p-0;
}

.container {
  @apply max-w-7xl mx-auto px-4 sm:px-6 lg:px-8;
}


@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(50px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fadeInUp {
  animation: fadeInUp 2s ease-out forwards;
}

